<!doctype html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Untitled Document</title>
<link href="css/mystyle.css" rel="stylesheet" type="text/css">


	
</head>

<body>

<div id="div1">
<div class="topnav" id="myTopnav">
  <a href="home.html" style="float: left; color: whitesmoke;" >Aegean Skates</a>
	<a href="Sales.html">Sales</a>
	<a href="support.html" >Support</a>
	<a href="support.html" class="active">User page</a>
  <a href="home.html">Community</a>
  <a href="home.html">Accessories</a>
  <a href="home.html">Boards</a>

</div>
<div> <img src = "images/skate.JPG" alt="image of skater" ></div>
</div>
<h2 class="ptitle"> Admin Page       </h2>

	
	<div>
<p>
	   
		</p>
		<p>
	This page  can only  be accessed when logged in.
		</p>
	
		
		<p>List of Items
		<ul>
			
			<li>
			 
			</li>
			<div style="overflow-x:auto">
<table   width="100%" border-collapse="collapse" border="10" boarder bordercolor="#E15231"  cellpadding="8" text-align= "left">
  <tbody>
    <tr > 
		{{ range .Idslice}}
      <td>TopSlice &nbsp; {{.}}</td>
		{{end}}
	
	</tr>
	{{ $bars:= .Slicename}}
	{{range $bar, $element := $bars}}

	<tr>
		<td>{{$bar}}&nbsp;</td>
		
		<td>{{$element}}&nbsp;</td>
		<td><form action="" method="POST">
			<br>
			<input type="hidden" name="pressbut" value="{{$bar}}">
			<input type="submit" value="Remove">
		  </form> </td>
		   </tr>{{end}}
   
    </tbody>
</table>

<form action="" method="POST" >

	<br>New User:
	<input type="text" name="newuser" value="">
	<br><br>
	<input type="submit" value="Add">
  </form>


	</div>
	
			<p> ADD new user </p>
		</p>

	</div>
<footer class="footer1">copyright</footer>
</body>
</html>
